---
title: Marionette Contact Manager
---

<p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>

<script id='contact-view-template' type='text/template' charset="utf-8">
  <p><%%= first_name %> <%%= last_name %></p>
</script>
